
@{
    ViewBag.Title = "infectiosDes";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="center_sty">
    <div class="head_center">
        <h2>Center for Infectios Disease</h2>
    </div>
    <div class="col-md-7">
        <div class="center_img">
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
        <div class="center_det">
            <h3>Infectios desease center is .....</h3>
            <p style="text-align:justify;">
                As a portal to professional development and academic training programs, we provide
                practitioners with access to the most current public health research and
                information available that can immediately be applied to their public health careers.
                As a portal to professional development and academic training programs, we provide
                practitioners with access to the most current public health research and
                information available that can immediately be applied to their public health careers.
                As a portal to professional development and academic training programs, we provide
                practitioners with access to the most current public health research and
                information available that can immediately be applied to their public health careers.
            </p>
        </div>

        <div class="center_det">
            <h3>Any title related to the center .....</h3>
            <p style="text-align:justify;">
                As a portal to professional development and academic training programs, we provide
                practitioners with access to the most current public health research and
                information available that can immediately be applied to their public health careers.
                As a portal to professional development and academic training programs, we provide
                practitioners with access to the most current public health research and
                information available that can immediately be applied to their public health careers.
                As a portal to professional development and academic training programs, we provide
                practitioners with access to the most current public health research and
                information available that can immediately be applied to their public health careers.
            </p>
        </div>
        <br />
        <div class="center_img">
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
        <div class="center_det">
            <h3>Diabetic center is .....</h3>
            <p style="text-align:justify;">
                As a portal to professional development and academic training programs, we provide
                practitioners with access to the most current public health research and
                information available that can immediately be applied to their public health careers.
                As a portal to professional development and academic training programs, we provide
                practitioners with access to the most current public health research and
                information available that can immediately be applied to their public health careers.
                As a portal to professional development and academic training programs, we provide
                practitioners with access to the most current public health research and
                information available that can immediately be applied to their public health careers.
            </p>
        </div>

    </div>
    <div class="col-md-5">

        <h3>Address </h3>
        <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        <br />
        <div class="addre_deta_center">
            <h4><em> Coordinator:</em> Dr. Alemseged Paul </h4>
            <h4><em> Office Location:</em> Tikur ambessa,diabetic center,office number-202 </h4>
            <h4><em> Phone:</em> +2519 231 231 2352</h4>
            <h4><em> mobile:</em> +2519 231 231 2352</h4>
            <h4><em> E-mail:</em> diabeticsCenter@gmail.com</h4>
            <h4><em> Website:</em>diabeticCenter.org</h4>
        </div>
    </div>

</div>

