
@{
    ViewBag.Title = "contactUs";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="aboutTab-head" id="cont-same">


</div>
<div class="cont_contact">
    <h2>Get in Touch</h2>

    <div class="holder-contact">
        <div class="col-md-4">
            <div class="col-image-con">
                <i class="ion-ios-telephone"></i>

                <p>(+251) 11 234 123 12</p> <br />
                <p>(+251) 11 234 123 12</p> <br />
                <p>(+251) 11 234 123 12</p> <br />
                <p>(+251) 11 234 123 12</p> <br />
                <p>(+251) 11 234 123 12</p> <br />

            </div>
        </div>
        <div class="col-md-4">
            <div class="col-image-con">
                <i class="ion-email"></i>
                <p>example@gmail.com</p><br />
                <p>example@gmail.com</p><br />
                <p>example@gmail.com</p><br />
                <p>example@gmail.com</p><br />
                <p>example@gmail.com</p><br />

            </div>
        </div>
        <div class="col-md-4">
            <div class="col-image-con">
                <i class="ion-location"></i>
                <p>
                    Tikur Ambessa Hospital,Ambassordor <br />
                    Around EBC,Addis Ababa,Ethiopia
                </p>
            </div>
        </div>
    </div>
</div>
