
@{
    ViewBag.Title = "EventCalendar";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="aboutTab-head">
    <h2>Event and Calendar</h2>
</div>



<div class="event_holder">
    <div class="col-md-8 col-xs-12 col-sm-6">
        <div class="allinone">

            <div class="aboutTab-body">
                <div class="history-first">

                    <div class="chs-earlystage">
                        <h2>CHS- Phase 1</h2>
                        <p>This is a placeholder for the School</p>
                        <h3>CHS in 1990</h3>
                        <p>
                            for many years chs was used to be called as ChD and
                            This school was founded in the early 20 centuries by prophesor andn doce
                            This school was founded in the early 20 centuries by prophesor andn doce
                            This school was founded in the early 20 centuries by prophesor andn doce
                            d as ChD and
                            This school was founded in the early 20 centuries by prophesor andn doce
                            This school was founded in the early 20 centuries by prophesor andn doce
                            This school was founded in the early 20 centuries by prophesor andn doce
                            d as ChD and
                            This school was founded in the early 20 centuries by prophesor andn doce
                            This school was founded in the early 20 centuries by prophesor andn doce
                            This school was founded in the early 20 centuries by prophesor andn doce
                            d as ChD and
                            This school was founded in the early 20 centuries by prophesor andn doce
                            This school was founded in the early 20 centuries by prophesor andn doce
                            This school was founded in the early 20 centuries by prophesor andn doce
                            This school was founded in the early 20 centuries by prophesor andn doce

                        </p>
                    </div>

                    <div class="chs-revolutionalizer">
                        <h3>The Revolutionist</h3>
                        <p>
                            <strong>Professor Yalemtsay Abebe</strong>This was the time for the first time this and
                            this department supported in the schoool with fully qualified and satisfactory curriculum
                            design and implementing the modern way of learning system
                        </p>
                    </div>


                    <div class="thanksletterforfounders">
                        <h3>Thanks Message For CHS Founders</h3>
                        <p>
                            I want to show my deep gratitude for the former deans of the school
                            and Founders of this modern and great School in Tikur Ambessa
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="back">
                    <h2>this is placeholder for any picture realted to it</h2>
                    <div class="image-event-drive">
                        <h2>images of events</h2>
                    </div>
                </div>
        </div>
         
    
    
</div>
