
@{
    ViewBag.Title = "factFigures";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}


<div class="aboutTab-head">
    <h2>Facts and Figures</h2>
</div>
<div class="cultur_cmpas">
    <div class="over_image">
        <h3>Discover Your Potential </h3>
        <h3>Join Us!,...Enjoy Your Life!! </h3>


    </div>
    <div class="best_camp_stl">
        <p>aughing is the best medicine.<br> But if you are laughing for no reason you need medicine</p>
    </div>



</div>

<div class="conta-delaro">
    <div class="head_del">
        <h2 style="text-align:center;font-weight:bold;">Be Part Of The School....</h2>
    </div>

    <div class="col-md-4">
        <div class="con_ta_re">
            <div class="img_cont_dela">
                <i class="ion-university"></i>
            </div>
            <div class="body_conta">
                <h3>Be Part Of Us!</h3>
                <p>
                    this all about the well known culture of the school yearls
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                </p>
                <h4 style="color:#fff;border-bottom:2px dotted gray; width:200px;">Practical works in Community</h4>
                <p>
                    this all about the well known culture of the school yearls
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="con_ta_re" id="conta-middle">
            <div class="img_cont_dela">
                <i class="ion-ios-people"></i>
            </div>
            <div class="body_conta">
                <h3>School Community</h3>
                <p>
                    this all about the well known culture of the school yearls
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                </p>
                <h4 style="color:#fff;border-bottom:2px dotted gray; width:200px;">Practical works in Community</h4>
                <p>
                    this all about the well known culture of the school yearls
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="con_ta_re" id="conta-last">
            <div class="img_cont_dela">
                <i class="ion-bowtie"></i>
            </div>
            <div class="body_conta">
                <h3>Tie Day</h3>
                <p>
                    this all about the well known culture of the school yearls
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                </p>
                <h4 style="color:#fff;border-bottom:2px dotted gray; width:200px;">Practical works in Community</h4>
                <p>
                    this all about the well known culture of the school yearls
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                    High-rise gentlemen cultered. Stockmarket art sheer board
                    gold wishlist cultered pedigree echelon.

                    Architectural wealth luxury pedigree club le cultered gentlemen
                    doctoral. Le doctoral manor with.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="internal_body">
            <img src="http://www.tiffingirls.kingston.sch.uk/Images/School-Images/About_the_School_TGS.aspx" />
        </div>
    </div>
</div>

