
@{
    ViewBag.Title = "Graduation";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="aboutTab-head">
    <h2>Graduation</h2>
</div>
<div class="gradu-body" style="background-color:#fff;height:650px; margin-top:-20px;">
    <div class="col-md-3">
        <div class="gra-gold">
            <h3>Gold Medalist</h3>
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="gra-body">
            <h3>Graduate Class of 2017</h3>
            <p>
                Yoseph and his brother was reading this book for almost more than a decade in their family
                and one day josy turn the last page and began to read and analyse what the book writer want to say
                and finaly he conclude this is mystry according to his understanding for the book and he is happy now about it
                Yoseph and his brother was reading this book for almost more than a decade in their family
                and one day josy turn the last page and began to read and analyse what the book writer want to say
                and finaly he conclude this is mystry according to
                Yoseph and his brother was reading this book for almost more than a decade in their family
                and one day josy turn the last page and began to read and analyse what the book writer want to say
                and finaly he conclude this is mystry according to
                Yoseph and his brother was reading this book for almost more than a decade in their family
                and one day josy turn the last page and began to read and analyse what the book writer want to say
                and finaly he conclude this is mystry according to
            </p>

            <div class="grad-detail">
                <h3>Responsibilities of Graduates</h3>
                <p>
                    Yoseph and his brother was reading this book for almost more than a decade in their family
                    and one day josy turn the last page and began to read and analyse what the book writer want to say
                    and finaly he conclude this is mystry according to
                    Yoseph and his brother was reading this book for almost more than a decade in their family
                    and one day josy turn the last page and began to read and analyse what the book writer want to say
                    and finaly he conclude this is mystry according to
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="gra-gold-right">

            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
            <p class="text-info">Class of 2017</p>
        </div>
    </div>
  
    

 
</div>
<div style="background-color:#fff;height:850px; margin-top:10px;">

    <div class="col-md-2">
        <div class="gra-gold">
            <h3>Gold Medalist</h3>
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
    </div>
    <div class="col-md-7">
        <div class="gra-body">
            <h3>Graduate Class of 2016</h3>
            <p>
                Yoseph and his brother was reading this book for almost more than a decade in their family
                and one day josy turn the last page and began to read and analyse what the book writer want to say
                and finaly he conclude this is mystry according to his understanding for the book and he is happy now about it
                Yoseph and his brother was reading this book for almost more than a decade in their family
                and one day josy turn the last page and began to read and analyse what the book writer want to say
          
            </p>

            <div class="grad-detail">
                <h3>Special Memories</h3>
                <p>
                    Yoseph and his brother was reading this book for almost more than a decade in their family
                    and one day josy turn the last page and began to read and analyse what the book writer want to say
                    and finaly he conclude this is mystry according to
               
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="gra-gold-right">

            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
            <p class="text-info">Class of 2016</p>
        </div>
    </div>

    <br />

    <div class="col-md-2">
        <div class="gra-gold">
            <h3>Gold Medalist</h3>
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
    </div>
    <div class="col-md-7">
        <div class="gra-body">
            <h3>Graduate Class of 2015</h3>
            <p>
                Yoseph and his brother was reading this book for almost more than a decade in their family
                and one day josy turn the last page and began to read and analyse what the book writer want to say
                and finaly he conclude this is mystry according to his understanding for the book and he is happy now about it
                Yoseph and his brother was reading this book for almost more than a decade in their family
                and one day josy turn the last page and began to read and analyse what the book writer want to say

            </p>

            <div class="grad-detail">
                <h3>Special Memories</h3>
                <p>
                    Yoseph and his brother was reading this book for almost more than a decade in their family
                    and one day josy turn the last page and began to read and analyse what the book writer want to say
                    and finaly he conclude this is mystry according to

                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="gra-gold-right">

            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
            <p class="text-info">Class of 2015</p>
        </div>
    </div>

</div>




