
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="row">
    <div class="aboutTab-head">
        <h2>History of School Of Medicine</h2>
    </div>
    <div class="aboutTab-head-head" style="background-color:#fff;height:800px;margin-top:-20px;">


        <div class="history-first">



            <div class="col-md-2">
                <div class="historic">
                    <img src="~/AppFiles/Images/Contact.jpg" class="img-thumbnail" />
                </div>
            </div>
            <div class="col-md-7">

                <h2 style="padding-top:30px; font-size:22px; font-weight:600;">The Establishment of School of Medicine</h2>
                <div class="chs-earlystage">


                    <p style="text-align:justify;font-family:Lato; font-size:18px;">
                        Up until the 1950s, Ethiopia had no health policy. It was only after this
                        time that basic health care deliveries that are preventive and curative were
                        rendered in clinics, health stations and a handful of hospitals.
                        The idea of improving health manpower through training of health workers was
                        notadequately putinto practice by the Ethiopian Government for lack of financial
                        means and proper administration in the 1950s. With the progressive increase in
                        population of the country, the need for training health workers for utilization
                        at all levels of service in Ethiopia became very dire. In effect,
                        the Government being cognizant of health as a basic and fundamental human
                        right made efforts to start training at different levels of health workers
                        to facilitate primary health care, integrate preventive and therapeutic
                        services, upgrade health education and family planning and control
                        environmental hazards.


                    </p>
                </div>

                <div class="chs-revolutionalizer">
                    <h3>The Revolutionist</h3>
                    <div class="wust">
                        <img src="~/AppFiles/Images/Contact.jpg" class="img-thumbnail" id="image-wust" />
                    </div>
                    <div class="wust_body">
                        <p>
                            <strong>Professor Yalemtsay Abebe</strong>This was the time for the first time this and
                            this department supported in the schoool with fully qualified and satisfactory curriculum
                            design and implementing the modern way of learning system
                        </p>
                    </div>

                </div>


                <div class="thanksletterforfounders">
                    <h3>Thanks Message For CHS Founders</h3>
                    <p>
                        I want to show my deep gratitude for the former deans of the school
                        and Founders of this modern and great School in Tikur Ambessa
                    </p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="right_history">
                    <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
                </div>
            </div>

        </div>
    </div>


</div>


