
@{
    ViewBag.Title = "SchoolAtGlance";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="row" id="bg-clr-wht">
    <div class="aboutTab-head">
        <h2>School At Glance</h2>
    </div>
    <div class="col-md-6">
        <div class="current_school_chs">
            <h3>School Of Medicine</h3>
            <div class="body-chs">
                <div class="row">
                    <div class="col-md-4">
                        <div class="head_about">
                            <h4>Name</h4>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="bod_about">
                            <p>Addis Ababa University School Of Medicine</p>
                        </div>

                    </div>

                </div>
                <hr id="horizon" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="head_about">
                            <h4>Founded</h4>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="bod_about">
                            <p>	1916 by William H. Welch and John D. Rockefeller</p>
                            <p>	1916 by William H. Welch and John D. Rockefeller</p>

                        </div>

                    </div>

                </div>
                <hr id="horizon" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="head_about">
                            <h4>Current Dean</h4>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="bod_about">
                            <p>	Ellen J. MacKenzie, PhD ’79, MSc ’75</p>

                        </div>

                    </div>

                </div>
                <hr id="horizon" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="head_about">
                            <h4>Student</h4>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="bod_about">
                            <p>	2,347 from 79 nations</p>

                        </div>

                    </div>

                </div>
                <hr id="horizon" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="head_about">
                            <h4>Faculty</h4>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="bod_about">
                            <p>709 Full-time, 829 Part-time</p>

                        </div>

                    </div>

                </div>
                <hr id="horizon" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="head_about">
                            <h4>Research</h4>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="bod_about">
                            <p>Ongoing in more than 130 countries</p>

                        </div>

                    </div>

                </div>
                <hr id="horizon" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="head_about">
                            <h4>Location &amp; Contact Information</h4>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="bod_about">
                            <p>
                                615 N. Ambassador street Tikur Ambessa
                                Addis Ababa,Ethiopia
                            </p>
                            <p>
                                Phone: 251-955-3543
                            </p>
                            <p> Fax: 410-955-0464</p>



                        </div>

                    </div>

                </div>
                <hr id="horizon" />
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="current_school-leader-chs">

            <img src="~/images/Contact.jpg" />

            <div class="row">
                <h2 style="text-align:center;margin-top:20px;">About Doctor Daniel kitaw</h2>

                <div class="col-md-8">
                    <h4>Doctor Daniel kitaw, PhD  is the 10th dean of CHS</h4>
                    <div class="detail_chair">
                        <p style="color:#353535;">
                            An expert on improving trauma care systems and policy, a nationally renowned
                            researcher and a respected academic leader, MacKenzie brings wide experience to
                            her role as dean.

                            After earning graduate degrees from the Bloomberg School, MacKenzie
                            joined the School’s Health Policy and Management faculty in 1980, with
                            a joint appointment in the Department of Biostatistics. A Bloomberg Distinguished
                            Professor, she holds faculty appointments in the School of Medicine’s departments of
                            Orthopaedic Surgery,Emergency Medicine and Physical Medicine and Rehabilitation.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video_chs_chair">
                        <img src="~/images/img/slide3.jpg" />
                    </div>


                </div>
             
           

                <hr />
                <div class="generalize-glance">
                    <p style="color:#353535;">
                        she holds faculty appointments in the School of Medicine’s departments of
                        Orthopaedic Surgery,Emergency Medicine and Physical Medicine and Rehabilitation.
                    </p>
                </div>



                <blockquote class="myclass">
                    look forward to working closely with faculty, students, staff,
                    alumni and friends of the School in staying true to our mission and meeting
                    the evolving challenges of public health both locally and globally.
                </blockquote>


                <div class="conclude">
                    <p style="color:#353535;">
                        As a professor, department chair and senior associate dean for academic affairs at
                        the Bloomberg School, MacKenzie has distinguished herself as an inspired leader.
                       
                    </p>
                </div>
                
              

            </div>
        </div>
    </div>

</div>

