
@{
    ViewBag.Title = "LandingPage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container" >
    <div class="pricing-table pricing-three-column row">
        <div class="plan col-sm-4 col-lg-4">
            <div class="plan-name-bronze">
                <h2>Super Admin</h2>
                <span>General Adminstration</span>
            </div>
            <ul>
                <li class="plan-feature">1 Users</li>
               
               
            </ul>
        </div>
        <div style="z-index:55;" class="plan col-sm-4 col-lg-4">
            <div class="plan-name-silver">
                <h2>School level<span class="badge badge-warning"></span></h2>
               <span><font color="red"> School level Admin </font></span>
            </div>
            <ul>
                
                
                 </ul>
        </div>
        <div class="plan col-sm-4 col-lg-4">
            <div class="plan-name-gold">
                <h2>Departmental</h2>
                <span>Department Level</span>
            </div>
            <ul>
                <li class="plan-feature">#Department Heads</li>
                   </ul>
        </div>
    </div>
</div>

