
@{
    ViewBag.Title = "center_institues";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}


<div class="head_reseach_all">
    <h2>Reseach Centers and Institutes</h2>
</div>
<div class="vody_reserach" style="margin-top:-10px;background-color:#fff;">

    <div class="col-md-3">
        <div class="cont_applicants_res ">
            <div class="full-detail_re" id="middle-colr_re">
                <h4>Example Reseach Center</h4>
                <img src="https://leadstarministries.files.wordpress.com/2015/08/leadstar.jpg" />

                <div class="list-enqury">
                    <ul>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Name:</em>  Aklilu Lemma Reseach Center
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Coordinator:</em> Prof. Joshua Jane
                            </p>

                        </li>
                        <li>
                            <p style="font-size:14px; border-bottom:1px dashed #fff;">
                                exampleleader@gmail.com
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Focus:</em>Epidimology and Related Studies
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Location:</em>Addis Ababa, Pastor reseach institues
                            </p>

                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="cont_applicants_res ">
            <div class="full-detail_re" id="second-color-res">
                <h4>Internal Cancer and Related studies Center</h4>
                <img src="https://leadstarministries.files.wordpress.com/2015/08/leadstar.jpg" />

                <div class="list-enqury">
                    <ul>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Name:</em>  Aklilu Lemma Reseach Center
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Coordinator:</em> Prof. Joshua Jane
                            </p>

                        </li>
                        <li>
                            <p style="font-size:14px; border-bottom:1px dashed #fff;">
                                exampleleader@gmail.com
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Focus:</em>Epidimology and Related Studies
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Location:</em>Addis Ababa, Pastor reseach institues
                            </p>

                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="cont_applicants_res ">
            <div class="full-detail_re" id="third-reseach-res">
                <h4>HIV Prevention center</h4>
                <img src="https://leadstarministries.files.wordpress.com/2015/08/leadstar.jpg" />

                <div class="list-enqury">
                    <ul>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Name:</em>  Aklilu Lemma Reseach Center
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Coordinator:</em> Prof. Joshua Jane
                            </p>

                        </li>
                        <li>
                            <p style="font-size:14px; border-bottom:1px dashed #fff;">
                                exampleleader@gmail.com
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Focus:</em>Epidimology and Related Studies
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Location:</em>Addis Ababa, Pastor reseach institues
                            </p>

                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="cont_applicants_res ">
            <div class="full-detail_re" id="last-color-res">
                <h4>Internal Cancer and Related studies Center</h4>
                <img src="http://cdt-africa.org/images/cdt1.png" />

                <div class="list-enqury">
                    <ul>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Name:</em>  Aklilu Lemma Reseach Center
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Coordinator:</em> Prof. Joshua Jane
                            </p>

                        </li>
                        <li>
                            <p style="font-size:14px; border-bottom:1px dashed #fff;">
                                exampleleader@gmail.com
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Focus:</em>Epidimology and Related Studies
                            </p>

                        </li>
                        <li>
                            <p>
                                <em style="font-size:16px; border-bottom:1px solid #fff;"> Location:</em>Addis Ababa, Pastor reseach institues
                            </p>

                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <hr />

    <div class="detail-hell-research" style="padding:10px 20px;">
        <h2>Major Reseaches Initiatives </h2>
        <h3>Biochemistry and molecular biology is the study of the genetic and biochemical bases of cellular processes.</h3>
        <p style="color: #4D4D4D;font-family:Open Sans;padding-left:20px;text-align:justify;">
            The faculty of the BMB department conduct research to gain new insights into the cellular and molecular mechanisms underlying normal and abnormal
            cellular processes, and their relevance as targets for improving health and treating disease.

            Key areas of interest in the department include the study of pathways and mechanisms involved in the maintenance of genome integrity and protein
            homeostasis, in the response to various stresses, in reproductive and germ stem cell biology, and in aging. The biological settings in which we
            characterize these processes include normal physiology, bacterial and parasitic infection, cancer, neurodegenerative and other chronic diseases.
            Our experimental approach to these important topics is exceptionally broad, ranging from genetic engineering to live cell imaging to the study of molecules by
            X-ray crystallography, and likewise makes use of a range of genetically-tractable model organisms including mice, yeast, flies and worms.

        </p>
        <br />
        <br />
        <h3>Quality Control in Biology: Understanding Disease Risk at a Molecular level</h3>
        <p style="color: #4D4D4D;font-family:Open Sans;padding-left:20px;text-align:justify;">
            The faculty of the BMB department conduct research to gain new insights into the cellular and molecular mechanisms underlying normal and abnormal
            cellular processes, and their relevance as targets for improving health and treating disease.

            Key areas of interest in the department include the study of pathways and mechanisms involved in the maintenance of genome integrity and protein
            homeostasis, in the response to various stresses, in reproductive and germ stem cell biology, and in aging. The biological settings in which we
            characterize these processes include normal physiology, bacterial and parasitic infection, cancer, neurodegenerative and other chronic diseases.
            Our experimental approach to these important topics is exceptionally broad, ranging from genetic engineering to live cell imaging to the study of molecules by
            X-ray crystallography, and likewise makes use of a range of genetically-tractable model organisms including mice, yeast, flies and worms.

        </p>

        <h3>Cancer and Other Aging-Related Chronic Diseases</h3>
        <p style="color: #4D4D4D;font-family:Open Sans;padding-left:20px;text-align:justify;">
            The faculty of the BMB department conduct research to gain new insights into the cellular and molecular mechanisms underlying normal and abnormal
            cellular processes, and their relevance as targets for improving health and treating disease.

            Key areas of interest in the department include the study of pathways and mechanisms involved in the maintenance of genome integrity and protein
            homeostasis, in the response to various stresses, in reproductive and germ stem cell biology, and in aging. The biological settings in which we
            characterize these processes include normal physiology, bacterial and parasitic infection, cancer, neurodegenerative and other chronic diseases.
            Our experimental approach to these important topics is exceptionally broad, ranging from genetic engineering to live cell imaging to the study of molecules by
            X-ray crystallography, and likewise makes use of a range of genetically-tractable model organisms including mice, yeast, flies and worms.

        </p>

    </div>


</div>

