
@{
    ViewBag.Title = "sampleReseach";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="head_reseach_all">
    <h2>Existing,Ongoing and Planned Sample Reseaches</h2>
</div>
<div class="vody_reserach" style="margin-top:10px;background-color:#fff;height:1200px;">
    <div>
        <div class="col-md-8">
            <div class="existing_reseach">
                <h3>Existing....</h3>
                <h4>Reseach Title to be displayedReseach Title to be displayed Reseach Title to be displayed</h4>
                <p style="color: #4D4D4D;font-family:Open Sans;padding-left:20px;text-align:justify;">
                    Aldus Corporation, which later merged with Adobe Systems, helped bring Lorem Ipsum into the information age with its 1985
                    flagship software Aldus PageMaker. The program came bundled with Lorem Ipsum dummy text to help with laying out page content,
                    and other word processors like Microsoft Word followed suit. More recently the growth of web design has helped proliferate Lorem Ipsum across
                    the internet as a placeholder for laying out websites and blogs– and in some cases the final content (don't let that be you!)
                </p>
                <p style="color: #4D4D4D;font-family:Open Sans;padding-left:20px;text-align:justify;">
                    Aldus Corporation, which later merged with Adobe Systems, helped bring Lorem Ipsum into the information age with its 1985
                    flagship software Aldus PageMaker. The program came bundled with Lorem Ipsum dummy text to help with laying out page content,
                    and other word processors like Microsoft Word followed suit. More recently the growth of web design has helped proliferate Lorem Ipsum across
                    the internet as a placeholder for laying out websites and blogs– and in some cases the final content (don't let that be you!)
                </p>
                <br />



            </div>


        </div>

        <div class="col-md-4">
            <div class="existing_reseach_image">
                <br />
                <br />
                <br />

                <img src="~/AppFiles/Images/Contact.jpg" />
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-8">
            <div class="existing_reseach">
                <h3>On Going....</h3>
                <h4>Reseach Title to be displayedReseach Title to be displayed Reseach Title to be displayed</h4>
                <p style="color: #4D4D4D;font-family:Open Sans;padding-left:20px;text-align:justify;">
                    Aldus Corporation, which later merged with Adobe Systems, helped bring Lorem Ipsum into the information age with its 1985
                    flagship software Aldus PageMaker. The program came bundled with Lorem Ipsum dummy text to help with laying out page content,
                    and other word processors like Microsoft Word followed suit. More recently the growth of web design has helped proliferate Lorem Ipsum across
                    the internet as a placeholder for laying out websites and blogs– and in some cases the final content (don't let that be you!)
                </p>
                <p style="color: #4D4D4D;font-family:Open Sans;padding-left:20px;text-align:justify;">
                    Aldus Corporation, which later merged with Adobe Systems, helped bring Lorem Ipsum into the information age with its 1985
                    flagship software Aldus PageMaker. The program came bundled with Lorem Ipsum dummy text to help with laying out page content,
                    and other word processors like Microsoft Word followed suit. More recently the growth of web design has helped proliferate Lorem Ipsum across
                    the internet as a placeholder for laying out websites and blogs– and in some cases the final content (don't let that be you!)
                </p>
                <br />



            </div>


        </div>

        <div class="col-md-4">
            <div class="existing_reseach_image">
                <br />
                <br />
                <br />

                <img src="~/AppFiles/Images/Contact.jpg" />
            </div>
        </div>
    </div>

    <div>
        <div class="col-md-8">
            <div class="existing_reseach">
                <h3>Planned Center and Innitiatives</h3>
                <h4>Reseach Title to be displayedReseach Title to be displayed Reseach Title to be displayed</h4>
                <p style="color: #4D4D4D;font-family:Open Sans;padding-left:20px;text-align:justify;">
                    Aldus Corporation, which later merged with Adobe Systems, helped bring Lorem Ipsum into the information age with its 1985
                    flagship software Aldus PageMaker. The program came bundled with Lorem Ipsum dummy text to help with laying out page content,
                    and other word processors like Microsoft Word followed suit. More recently the growth of web design has helped proliferate Lorem Ipsum across
                    the internet as a placeholder for laying out websites and blogs– and in some cases the final content (don't let that be you!)
                </p>
                <p style="color: #4D4D4D;font-family:Open Sans;padding-left:20px;text-align:justify;">
                    Aldus Corporation, which later merged with Adobe Systems, helped bring Lorem Ipsum into the information age with its 1985
                    flagship software Aldus PageMaker. The program came bundled with Lorem Ipsum dummy text to help with laying out page content,
                    and other word processors like Microsoft Word followed suit. More recently the growth of web design has helped proliferate Lorem Ipsum across
                    the internet as a placeholder for laying out websites and blogs– and in some cases the final content (don't let that be you!)
                </p>
                <br />



            </div>


        </div>

        <div class="col-md-4">
            <div class="existing_reseach_image">
                <br />
                <br />
                <br />


                <img src="~/AppFiles/Images/Contact.jpg" />
            </div>
        </div>
    </div>

   




    

</div>
