@model BHSM.Areas.Admin.ViewModel.EventViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h2>Create New Event</h2>

<div class="alert alert-info">All Fields Required!</div>

<div class="col-md-12 well well-lg">
    <form id="eventForm">
        <div class="form-group">

            <label>Title</label>

            <div class="col-md-12">
                <input type="text" value="" name="Title" id="Title" style="min-width:100%!important;" class="form-control" placeholder="Enter Events Title" />

            </div>
        </div>
        <div class="form-group">

            <label>Hosted By</label>

            <div class="col-md-12">
                <input type="text" value="" name="HostedBy" id="HostedBy" style="min-width:100%!important;" class="form-control" placeholder="Hosted By..." />


            </div>
        </div>
        <div class="form-group">
           
            <label>Description</label>

            <div class="col-md-12">
                <textarea name="Description" id="Description" style="min-width:100%!important;" class="form-control"></textarea>

            </div>
        </div>

        <div class="form-group">

            <label>Event Image</label>

            <div class="col-md-12">
                <input type="file" id="EventImage" name="EventImage" class="form-control-file" />

            </div>
        </div>
        <br />
        <div class="form-group col-md-3">
            <br />

            <button class="btn btn-warning btn-block">Submit</button>

        </div>
    </form>
</div>

@section  Scripts{

    <script>
    $(document).ready(function () {
        $("#eventForm").submit(function (e) {
            e.preventDefault();
            var fileUpload = $("#EventImage").get(0);
            var files = fileUpload.files;

            var fileData = new FormData();
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            console.log(fileData);
            $.ajax({
                url: "/API/Event/CreateEvent",
                method: "post",
                data: fileData
            })
            .done(function () {
                console.log("done");
            })
            .fail(function () {

            });

        })
    });
    </script>

}





