
@{
    ViewBag.Title = "EventIndex";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    <style>


    </style>
}

<h2>Manage Your Event</h2>

<div>
    @Html.ActionLink("Create New Event","CreateEvent","Event", htmlAttributes: new { @class = "btn btn-primary" })


</div>



<div class="jumbotron">here is list of events and delete and edit event page on modal</div>

