
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_chsHome.cshtml";
}

<div>

    <section class="chs_summary ">
        
        <div class="chs_summary_title">
            <h2>College Of Health Science Summary </h2>
        </div>
      
        <div class="row">

           
            <div class="col-md-4">
                <div class="academics">
                    hello students
                </div>
            </div>

            <div class="col-md-4">
                <div class="chs_community">
                    hello students
                </div>
            </div>

            <div class="col-md-4">
                <div class="chs_testimonials">
                    hello students
                </div>
            </div>
        </div>

    </section>

    <section class="organo">
        <p>here is the organogram of the college of health science</p>
    </section>

    <section class="chs_adminstration">


    </section>
</div>
