
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_chsHome.cshtml";


}

<div>

   

    <section class="chs_summary ">

        <div class="chs_summary_title">
            <h2>Core Pillars Of CHS </h2>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="academics_home">
                  
                        <div class="academics">

                            <h3>Academics</h3>
                            <hr style="color:#ff6a00" />
                            <div class="aca_body">
                                <p>
                                    College of Health Science Consists of Four School On the size of Medical 
                                    Education expansion for the whole world and has been contributing to scient and 
                                     to the development of the Medical science for so long time.
                                    Education expansion for the whole world and has been contributing to scient and
                                    to the development of the Medical science for so long time.
                                </p>

                                <a href="#" style="text-align:center;">Read More</a>
                            </div>
                        </div>
                    
                </div>

            </div>

            <div class="col-md-4">
                <div class="chs_community">
                    <div class="community">
                        <h3>Community Service</h3>
                        <hr />
                        <div class="com_body">
                            <p>
                                Community Service under the supervision of CHS adminstrators are the following
                                teaching and sponsoring different infrastructure for the community . in addition to that
                                we teach consult and guide different class of the community and organize clubs and groups
                                to prevent and give awareness about the infectios diseases. give awareness about the infectios diseases.
                            </p>
                            <a href="#" style="text-align:center;">Read More</a>    
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="chs_pil">
                    <div class="pil">
                        <h3>Chs Pillars</h3>
                        <hr />

                        <div class="pil_body">
                           <p> Community Service under the supervision of CHS adminstrators are the following
                            teaching and sponsoring different infrastructure for the community . in addition to that
                            we teach consult and guide different class of the community and organize clubs and groups
                            to prevent and give awareness about the infectios diseases. give awareness about the infectios diseases.

                            </p>
                            <a href="#" style="text-align:center;">Read More</a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="organo">
        <p>here is the organogram of the college of health science</p>
    </section>

    <section class="chs_adminstration">
        <h2 style="text-align:center;">CHS Adminstration</h2>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="admin_chs">
                            <img src="~/images/surgUnit/default.png" class="img-thumbnail" />
                        </div>
                        <div class="admin_chs_detail">
                            <h4>Dr. John Doe</h4>
                            <h5>Dean of Academics and Related</h5>
                            <p>
                                this is detail about the responsibility and things related to
                                the personnel overview of authority vested
                                this is detail about the responsibility and things related to
                                the personnel overview of authority vested
                            </p>

                            <hr />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="admin_chs">
                            <img src="~/images/surgUnit/default.png" class="img-thumbnail" />
                        </div>
                        <div class="admin_chs_detail">
                            <h4>Dr. Richael Richard</h4>
                            <h5>Dean of Academics and Related</h5>
                            <p>
                                this is detail about the responsibility and things related to
                                the personnel overview of authority vested
                                this is detail about the responsibility and things related to
                                the personnel overview of authority vested
                            </p>

                            <hr />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="admin_chs">
                            <img src="~/images/surgUnit/default.png" class="img-thumbnail" />
                        </div>
                        <div class="admin_chs_detail">
                            <h4>Dr. Ababech Girma</h4>
                            <h5>Dean of Student Affairs</h5>
                            <p>
                                this is detail about the responsibility and things related to
                                the personnel overview of authority vested
                                this is detail about the responsibility and things related to
                                the personnel overview of authority vested
                            </p>

                            <hr />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <div class="admin_chs">
                            <img src="~/images/surgUnit/default.png" class="img-thumbnail" />
                        </div>
                        <div class="admin_chs_detail">
                            <h4>Dr. Abebe Temesgen</h4>
                            <h5>General Medical Director</h5>
                            <p>
                                this is detail about the responsibility and things related to
                                the personnel overview of authority vested
                                this is detail about the responsibility and things related to
                                the personnel overview of authority vested
                            </p>

                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="admin_contain_chs">
                    <div class="admin_general_chs">
                        <img src="~/images/surgUnit/default.png" class="img-thumbnail" />
                    </div>
                    <div class="admin_general_chs_detail">
                        <h4>Dr. John Doe</h4>
                        <h5>Dean of Academics and Related</h5>
                        <p>
                            this is detail about the responsibility and things related to
                            the personnel overview of authority vested
                            this is detail about the responsibility and things related to
                            the personnel overview of authority vested
                        </p>

                        <h5 style="text-align:center;">Chs ChairPerson</h5>
                        <p>
                            this is detail about the responsibility and things related to
                            the personnel overview of authority vested
                            this is detail about the responsibility and things related to
                            the personnel overview of authority vested
                        </p>


                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="partner">
        <h2 style="text-align:center;padding:10px;">Collaboration and Partnership</h2>
        <div class="row">
            <div class="col-xs-12 col-md-2 col-lg-2">
                <div class="part_part">
                    <img src="~/images/surgery/surg.jpg" class="img-responsive img-circle" />
                    <p>Swedish Medical Society</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 col-lg-2">
                <div class="part_part">
                    <img src="~/images/surgery/surg.jpg" class="img-responsive img-circle" />
                    <p>Swedish Medical Society</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 col-lg-2">
                <div class="part_part">
                    <img src="~/images/surgery/surg.jpg" class="img-responsive img-circle" />
                    <p>Swedish Medical Society</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 col-lg-2">
                <div class="part_part">
                    <img src="~/images/surgery/surg.jpg" class="img-responsive img-circle" />
                    <p>Swedish Medical Society</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 col-lg-2">
                <div class="part_part">
                    <img src="~/images/surgery/surg.jpg" class="img-responsive img-circle" />
                    <p>Swedish Medical Society</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 col-lg-2">
                <div class="part_part">
                    <img src="~/images/surgery/surg.jpg" class="img-responsive img-circle" />
                    <p>Swedish Medical Society</p>
                </div>
            </div>
        </div>
    </section>
</div>
