
<footer>

    <div class="footer-header">
        

    </div>
    <div class="footrr">
        <div class="log" style="padding-left:10px; ">
            <img src="http://www.aau.edu.et/wp-content/uploads/2016/05/logo-Copy-300x300.png" 
                 class="img-circle" style="width:100px; height:100px;margin-top:20px;  " />
        </div>
        <div class="logtext">
            <h2>Addis Ababa University</h2>
            <h2>College Of Health Science</h2>
            <h2>School Of Medicine</h2>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-3">
            <div class="footer-part1">
                <ul>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Office &amp;Services</a></li>
                    <li><a href="#">About School</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="footer-part1">
                <ul>
                    <li><a href="#">Directions &amp; Maps</a></li>
                    <li><a href="#">Feedbacks</a></li>
                    <li><a href="#">CHS</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="footer-part1">
                <ul>
                    <li><a href="#">CHS Alumni</a></li>
                    <li><a href="#">Student Information System</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="footer-part1">
                <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-hand-right">Like us on Facebook</span></a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>

    <p style="margin-left:30px;">&copy; @DateTime.Now.Year - Addis Ababa University School OF Medicine</p>
</footer>
