@{
    ViewBag.Title = "eventsActivity";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="all_studnet_life">
    <div class="col-md-3">
        <div class="std-life_img">

            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>


        <br />
        <br />
        <br />
        <div class="std-life_img">

            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
        <br />
        <br />
        <br />
        <div class="std-life_img">

            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
    </div>
    <div class="col-md-7">
        <div class="std_life_dec">
            <h2>Student Related Events and Activities</h2>

            <div class="img-stu-inner">
                <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />

            </div>
            <div class="desc-st-life">
                <h3>January 22 ,Gauning Ceremony</h3>
                <p style="text-align:justify">
                    This event is the most bueatiful and interesting of all the other so every student
                    like to showhis event is the most bueatiful and interesting of all the other so every
                    his event is the most bueatiful and interesting of all the other so every
                </p>

                <p style="text-align:justify">
                    This event is the most bueatiful and interesting of all the other so every student
                    like to showhis event is the most bueatiful and interesting of all the other so every
                    his event is the most bueatiful and interesting of all the other so every
                    This event is the most bueatiful and interesting of all the other so every student
                    like to showhis event is the most bueatiful and interesting of all the other so every
                    his event is the most bueatiful and interesting of all the other so every
                </p><br />

            </div>

            <br />
            <hr style="border:2px solid #d7d2d2;" />

            <div class="img-stu-inner">
                <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />

            </div>
            <div class="desc-st-life">
                <h3>January 22 ,Gauning Ceremony</h3>
                <p style="text-align:justify">
                    This event is the most bueatiful and interesting of all the other so every student
                    like to showhis event is the most bueatiful and interesting of all the other so every
                    his event is the most bueatiful and interesting of all the other so every
                </p>

                <p style="text-align:justify">
                    This event is the most bueatiful and interesting of all the other so every student
                    like to showhis event is the most bueatiful and interesting of all the other so every
                    his event is the most bueatiful and interesting of all the other so every
                    This event is the most bueatiful and interesting of all the other so every student
                    like to showhis event is the most bueatiful and interesting of all the other so every
                    his event is the most bueatiful and interesting of all the other so every
                </p><br />

            </div>

            <br />
            <br />
            <hr style="border:2px solid #d7d2d2;" />

            <div class="img-stu-inner">
                <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />

            </div>
            <div class="desc-st-life">
                <h3>January 22 ,Gauning Ceremony</h3>
                <p style="text-align:justify">
                    This event is the most bueatiful and interesting of all the other so every student
                    like to showhis event is the most bueatiful and interesting of all the other so every
                    his event is the most bueatiful and interesting of all the other so every
                </p>

                <p style="text-align:justify">
                    This event is the most bueatiful and interesting of all the other so every student
                    like to showhis event is the most bueatiful and interesting of all the other so every
                    his event is the most bueatiful and interesting of all the other so every
                    This event is the most bueatiful and interesting of all the other so every student
                    like to showhis event is the most bueatiful and interesting of all the other so every
                    his event is the most bueatiful and interesting of all the other so every
                </p><br />

            </div>

        </div>
    </div>
    <div class="col-md-2">
        <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />

    </div>
</div>

