
@{
    ViewBag.Title = "eventsActivity";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="all_studnet_life">
    <div class="col-md-4">
        this is image placeholder
    </div>
    <div class="col-md-6">
        <div class="std_life_dec">
            <h2>hello Students</h2>
        </div>
    </div>
    <div class="col-md-2">
        may be adverts
    </div>
</div>

