@{
    ViewBag.Title = "internationalstu";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="inter-national_student">
    <div class="col-md-4">
        <div class="inter_nation_studn-lifeTip">
            <h2 style="text-align:center;">Tips </h2>
            <p style="text-align:justify;">
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.
            </p>
            <h3> our students.</h3>
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="main_stud_inter_life">
            <h2>Addis Ababa University School Of Medicine Harmly welcome international students.</h2>
            <br />
            <p style="text-align:justify;">
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.

            </p>
            <br />
            <p style="text-align:justify;">
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.

            </p>
            <p style="text-align:justify;">
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.

            </p>
            <h4>What is Special about International Students</h4>
            <p style="text-align:justify;">
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.
                Life is all about the thing you interact with so that don't waste your
                time just onlyl playing and having fun .try to achieve something.

            </p>

</div>
    </div>
    <div class="col-md-2">
      <!--this will be an advert area-->
    </div>
</div>

