@{
    ViewBag.Title = "outreachprogram";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="gra_gallery">
    <div class="col-md-2">

    </div>
    <div class="col-md-9">
        <div class="body-gra_gallery">
            <h2>Student's Outreach Program of School of Medicine</h2>
            <br />
            <p style="text-align:justify;">
                ZenCoding with #WebEssentials is a sweet productivity
                enhancement! CSS as a template language for expansion is awesome
                ZenCoding with #WebEssentials is a sweet productivity
                enhancement! CSS as a template language for expansion is awesome
            </p>

            <br />
            <h3>Who to Contact?</h3>
            <p style="text-align:justify;">
                ZenCoding with #WebEssentials is a sweet productivity
                enhancement! CSS as a template language for expansion is awesome
                ZenCoding with #WebEssentials is a sweet productivity
                enhancement! CSS as a template language for expansion is awesome
            </p>
            <br />
            <br />
            <p style="text-align:left">
                <em>Contact Us:</em>studentlife@gmail.com
</p>
            <p style="text-align:left">
                <em>Office:</em>Pedi.Blg,204-office nuber
            </p>

        </div>
    </div>
    <div class="col-md-1">

    </div>

</div>

