

.chs_summary{
width: 100%;
height:auto;
background-color:#fff;
padding:10px;

}

.chs_summary_title{
margin-top:30px;
margin-bottom:20px;
}
.chs_summary_title h2{
   color:#0d0d0d;
   text-align:center;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-bottom:20px;

}
.academics_home{
width:100%;
height:auto;
box-shadow:rgb(128, 128, 128) 0px 4px 4px 1px ;
}
.academics_home:hover,
.academics_home:active{

background-color: #93008c;

}

.academics{
    width:100%;
    height:auto;
    border-top: 7px solid #93008c;
    box-shadow:#808080 0px 3px 4px;
    border-bottom: 4px solid transparent;
    padding-right:5px;
    padding-left:5px;
    padding-bottom:10px;
    margin-top:3px;
    margin-bottom:5px;

}

.academics  h3 {
    text-align:center;
    color:#223;
    font-family:'Californian FB';
    font-weight:500;
    font-weight:bold;
    font-style:oblique;
    width:100%;
}

.academics  h3:hover {
   
    color:#fff;
    
}

.aca_body{
padding:7px;
margin-bottom:auto;
}
.aca_body p{
    color:#223;
    font-style:italic;
    text-align-last:auto;
    text-justify:auto;
}
.aca_body p:hover{
    color:#fff;
}




.chs_community{
    width:100%;
    height:auto;
    box-shadow:rgb(128, 128, 128) 0px 4px 4px 1px ;
}

.chs_community:hover,
.chs_community:active{
background-color: #ff6a00;
color:white;
}

.community{
    
     width:100%;
    height:auto;
    border-top: 7px solid #ff6a00;
    box-shadow:#808080 0px 3px 4px;
    border-bottom: 4px solid transparent;
    padding-right:5px;
    padding-left:5px;
    padding-bottom:10px;
    margin-top:3px;
    margin-bottom:5px;
}
.community h3{
  text-align:center;
    color:#223;
    font-family:'Californian FB';
    font-weight:500;
    font-weight:bold;
    font-style:oblique;
    width:100%;
}

.community h3:hover,
.community h3:active{
 color:#fff;

}
.com_body{
padding:7px;
margin-bottom:auto;
}
.com_body p{
    color:#223;
    font-style:italic;
    text-align-last:auto;
    text-justify:auto;
}

.com_body p:hover,
.com_body p:active{
   color:#fff;
}



.chs_pil{
    width:100%;
    height:auto;
    box-shadow:rgb(128, 128, 128) 0px 4px 4px 1px ;
}

.chs_pil:hover,
.chs_pil:active{
background-color: #00ca29;
color:white;
}

.pil{
    
     width:100%;
    height:auto;
    border-top: 7px solid #00ca29;
    box-shadow:#808080 0px 3px 4px;
    border-bottom: 4px solid transparent;
    padding-right:5px;
    padding-left:5px;
    padding-bottom:10px;
    margin-top:3px;
    margin-bottom:5px;
}
.pil h3{
  text-align:center;
    color:#223;
    font-family:'Californian FB';
    font-weight:500;
    font-weight:bold;
    font-style:oblique;
    width:100%;
}

.pil h3:hover,
.pil h3:active{
 color:#fff;

}
.pil_body{
padding:7px;
margin-bottom:auto;
}
.pil_body p{
    color:#223;
    font-style:italic;
    text-align-last:auto;
    text-justify:auto;
}

.pil_body p:hover,
.pil_body p:active{
   color:#fff;
}


/*organo css*/
.organo{
    width:100%;
    height:auto;
    background-color:#fff;
    margin-top:10px;

}

.organo img{
width:70%;
height:70%;
margin-left:140px;
}

/*chs Adminstration layout*/

.chs_adminstration{
    width:100%;
    height:auto;
    background-color:white;
    margin-top:10px;
    padding:7px;
  

}

.admin_chs{
    padding:2px;
    
    width:100%;

}

.admin_chs img{
    width:110px;
    height:95px;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.admin_chs_detail h4{
   color:#223;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style:italic;
   text-decoration:underline;

}
.admin_chs_detail h5{
   color:#223;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style:italic;
   font-weight:300;
   font-size:15px;


}
.admin_chs_detail p{
    text-align:left;
    align-content:center;
    color:#224;
}

.admin_contain_chs{
    width:100%;
    
    border-radius:10px;
    box-shadow:#808080 0px 3px 4px;
    height:auto;
}

.admin_general_chs{
    padding:2px;
    width:100%;
    padding:10px;
   
}

.admin_general_chs img{
    width:110px;
    height:95px;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.admin_general_chs_detail h4{
   color:#223;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style:italic;
   text-decoration:underline;

}
.admin_general_chs_detail h5{
   color:#223;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style:italic;
   font-weight:300;
   font-size:15px;


}
.admin_general_chs_detail p{
    text-align:left;
    align-content:center;
    color:#224;
    padding:10px;
}

/*partnership*/

.partner{
width:100%;
height:auto;
margin-top:15px;
margin-bottom:10px;
background-color:#fff;
padding:25px;
padding-top:30px;


}

.part_part{
padding:10px;
width:100%;
height:auto;

border-bottom: 2px dashed #ff6a00;
border-top: 2px dashed #ff6a00;
}
.part_part:hover,
.part_part:active{
transform:scale(1.1);
border:1px solid #ff6a00;
box-shadow:rgba(128, 128, 128, 0.56) 0px 3px 4px;
border-radius:15px;

}
.part_part img{
 width:100px;
 height:100px;
 margin-left:14px;

}
.part_part p{
 font-size:17px;
 text-align:center;

 margin-top:5px;
}


/*organogram*/

