
@{
    ViewBag.Title = "socialmedias";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="news_page" id="megaz">

    <div class="hed_news">
        <h2 style="text-align:center;">Megazines</h2>
    </div>
    <div class="col-md-8">

       

        <div class="new_photo_de">
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
        <div class="new_detail_note">
            <h3>news Heading onew</h3>
            <em class="small" style="color:#0094ff;">Jun 12,2017</em>
            <p style="text-align:justify;">
                Harvard Medical School is committed to convening and nurturing a diverse community
                of individuals dedicated to promoting excellence and leadership in medicine and science
                through education, research, clinical care and service. Our unique perspectives, talents,
                experiences and contributions as HMS students, trainees,
                faculty, staff and administrators are the foundation and drivers of our excellence

            </p>

        </div>
        <hr style="color:#272525;" />
        <br />
        <div class="new_photo_de">
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
        <div class="new_detail_note">
            <h3>news Heading onew</h3>
            <em class="small" style="color:#0094ff;">Jun 12,2017</em>
            <p style="text-align:justify;">
                Harvard Medical School is committed to convening and nurturing a diverse community
                of individuals dedicated to promoting excellence and leadership in medicine and science
                through education, research, clinical care and service. Our unique perspectives, talents,
                experiences and contributions as HMS students, trainees,
                faculty, staff and administrators are the foundation and drivers of our excellence

            </p>

        </div>
        <hr style="color:#272525;" />
        <br />
        <div class="new_photo_de">
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
        <div class="new_detail_note">
            <h3>news Heading onew</h3>
            <em class="small" style="color:#0094ff;">Jun 12,2017</em>
            <p style="text-align:justify;">
                Harvard Medical School is committed to convening and nurturing a diverse community
                of individuals dedicated to promoting excellence and leadership in medicine and science
                through education, research, clinical care and service. Our unique perspectives, talents,
                experiences and contributions as HMS students, trainees,
                faculty, staff and administrators are the foundation and drivers of our excellence

            </p>

        </div>
        <hr style="color:#272525;" />
        <br />
        <div class="new_photo_de">
            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
        <div class="new_detail_note">
            <h3>news Heading onew</h3>
            <em class="small" style="color:#0094ff;">Jun 12,2017</em>
            <p style="text-align:justify;">
                Harvard Medical School is committed to convening and nurturing a diverse community
                of individuals dedicated to promoting excellence and leadership in medicine and science
                through education, research, clinical care and service. Our unique perspectives, talents,
                experiences and contributions as HMS students, trainees,
                faculty, staff and administrators are the foundation and drivers of our excellence

            </p>

        </div>
        <hr style="color:#272525;" />
        <br />
       


    </div>
    <div class="col-md-4">
        <div class="md_older_new">
            <h4>Facebook page</h4>
            <div class="olre_new">

                <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail"
                     style="height:100px;width:140px;" />
            </div>
            <p style="text-align:justify">
                Harvard Medical School is committed to convening and nurturing a diverse community
                of individuals dedicated to promoting excellence and leadership in medicine and science
                through education, research, clinical care and service. Our unique perspectives, talents,
                experiences and contributions as HMS students, trainees,
                faculty, staff and administrators are the foundation and drivers of our excellence
            </p>
        </div>
    </div>

</div>

