@{
    ViewBag.Title = "facultyTraining";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="train-all-form">
    <div class="col-md-8">
        <div class="body_det_desc">
            <h2>Training Practice of School of Medicine</h2>
            <div class="col_img_left">
                <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
            </div>
            <div class="body_train_det">
                <h3>Training For Graduate Students</h3>
                <br />
                <p style="text-align:justify;">
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                </p>
                <p style="text-align:justify;">
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                </p>
                <br />
                <p style="text-align:justify;">
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                    this is the placeholder for the training sector of the school if there is one
                </p>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="image_train">

            <img src="~/AppFiles/Images/naassom-azevedo-541451-unsplash.jpg" class="img-responsive img-thumbnail" />
        </div>
    </div>
</div>

