@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Super.cshtml";
}

<h2>Create Role</h2>

@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr>
            <td>Enter Role Name to Be Created:</td>
            <td>@Html.EditorFor(r => r.Name,new { @class="control-form"})</td>
        </tr>
    </table>

    <input type="submit" value="Create Role"  class="btn btn-info" />

}
