
@{
    ViewBag.Title = "staffDetail";
    Layout = "~/Views/Shared/_DepartmentOnly.cshtml";
}

<div class="container">
    <div class="whole_container">
        <div class="prof_pic"></div>
        <div class="profilos">
            <div class="col-md-3">
                <div class="fullView">
                    <img src="~/images/maria.JPG" class="img-responsive" />
                    <div class="personnel_prof">

                        <div class="ma_pro">
                            <p>Maria D. T/Mariam</p>

                        </div>

                        <div>
                            <p>Position: <em>Lecturer</em> </p>
                            <p>
                                Contact detail: <br />
                                <em><i class="fa fa-mail-forward">: maria.Degef@aau.edu  </i></em>
                                <em><i class="fa fa-mail-forward">: emebetmaria@yahoo.com </i></em>
                                <em><i class="fa fa-phone">: +251 911 68 33 98 </i></em>
                                <em><i class="fa fa-home">:CHS bldg, 5th floor, Room  504.</i></em>
                            </p>

                        </div>


                        <h3>About</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut

                        </p>
                        <a href="#"><i class="fa fa-facebook"></i> facebook </a><br />
                        <a href="#"><i class="fa fa-twitter"></i> twitter </a><br />
                        <a href="#"><i class="fa fa-linkedin"></i> linkedin </a>


                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-9">
                <div class="body_per_one container">
                    <h2 style="margin-top:20px;text-align:center;">Biography</h2>

                    <div class="row">
                        <div class="per_one_det col-md-3">
                            <h3>Educational background </h3>
                        </div>
                        <div class="Bithaods col-md-9">
                            <p>
                                BSc. in Chemistry, From Natural Science Faculty, Addis Ababa University and M.Sc in Medical
                                Biochemistry, Medical Faculty, Addis Ababa University. PhD candidate, Medical Faculty, Addis Ababa University

                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="per_one_det col-md-3">
                            <h3>Professional experience in the field </h3>
                        </div>
                        <div class="Bithaods col-md-9">
                            <p>
                                As a lecturer in Medical Biochemistry for the last 11 years, I have provided lectures and mentored diverse medical students in
                                Medicine, Nursing, Anesthesiology, Pharmacy, Radiography, Dentistry, midwifery etc. I have served the department as
                                acting head for one year. I have also served the department as under and post graduate program coordinator.
                                Additionally; I have been engaged with advising MSc students in various research topics. Currently,
                                I am in the last step of completing my PhD dissertation in which my research area is focused on Hepatocellular Carcinoma.

                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="per_one_det col-md-3">
                            <h3>Current work status and role in the Department </h3>
                        </div>
                        <div class="Bithaods col-md-9">
                            <p>
                                In parallel with my teaching and research duties, I am actively working in the Examination Committee,
                                Recruitment and Promotion Committee and Social Committee. I have been also taken a part in the Research Ethic Committee in the past.
                                Considering the current status of cancer mortality and incidence rate,
                                I have a huge interest in cancer nutrition and also cancer biomarker development
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="per_one_det col-md-3">
                            <h3>Achievements </h3>
                        </div>
                        <div class="Bithaods col-md-9">
                            <p>
                               Recognized as best lecturer by the Anesthesia students 
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="per_one_det col-md-3">
                            <h3>Additional activities</h3>
                        </div>
                        <div class="Bithaods col-md-9">
                            <p>
                               Established a journal club in the department
                            </p>
                            <p>
                                Has taken the initiative for the production of department’s brochure   
                            </p>
                        </div>

                    </div>





                </div>
            </div>
        </div>
    </div>
</div>

